.up{
margin-top: 6rem;
}

.center{
    text-align: center;
}

.left{
    text-align: left;
}

.img-languaje{
    height: 15rem;
    width: 25rem;
}

.img-programing{
    height: 15rem;
    width: 25rem;
}

.img-databases{
    height: 15rem;
    width: 25rem;
}

.img-operatyngSystems{
    height: 15rem;
    width: 25rem;
}

